@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');
@import './base.css';

#app {
  min-height: 100vh;
}
